{% load staticfiles %}
						<div class="side animate-box">
							<div class="col-md-12 col-md-offset-0 text-center fh5co-heading fh5co-heading-sidebar">
								<h2><span>Extra</span></h2>
							</div>
							<ul class="category">
								<li><a href="#"><i class="icon-check"></i>Дополнительные занятия</a></li>
								<li><a href="#"><i class="icon-check"></i>Расписание экзаменов</a></li>
								<li><a href="#"><i class="icon-check"></i>Библиотека</a></li>
								<li><a href="#"><i class="icon-check"></i>Список учеников</a></li>
								<li><a href="#"><i class="icon-check"></i>Учителя</a></li>
								<li><a href="#"><i class="icon-check"></i>Форма одежды</a></li>
							</ul>
						</div>