{% load staticfiles %}
<footer id="fh5co-footer" role="contentinfo">
		<div class="container">
			<div class="row row-pb-md">
				<!--<div class="col-md-4 fh5co-widget">
					<h4>Paper</h4>
					<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p>
				</div>-->
				<div class="col-md-6 col-md-push-1">
					<h4>Ссылки</h4>
					<ul class="fh5co-footer-links">
						<li><a href="#">Главная</a></li>
						<li><a href="#">Архив</a></li>
						<li><a href="#">Визитная карточка</a></li>
						<li><a href="#">О школе</a></li>
						<li><a href="#">Контакты</a></li>
					</ul>
				</div>

				<div class="col-md-6 col-md-push-1">
					<h4>Контактная информация</h4>
					<ul class="fh5co-footer-links">
						<li>Романенко <strong>27 A</strong><br>село Парканы</li>
						<li><a href="tel://1234567920"><strong>+373 (557) 32-367</strong></a></li>
						<li><a href="mailto:info@yoursite.com"><strong>info@yoursite.com</strong></a></li>
					</ul>
				</div>

			</div>

			<div class="row copyright">
				<div class="col-md-12 text-center">
					<p>
						<small class="block">&copy; 2017 Alex Stoyanov. All Rights Reserved.</small> 
						<small class="block">Designed by <a href="https://vk.com/ikgjbhgtcnm11" target="_blank">Alex Stoyanov</a></small>
					</p>
					<p>
						<ul class="fh5co-social-icons">
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-linkedin"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
						</ul>
					</p>
				</div>
			</div>

		</div>
	</footer>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>
	
	<!-- jQuery -->
	<script src='{% static "js/jquery.min.js" %}'></script>
	<!-- jQuery Easing -->
	<script src='{% static "js/jquery.easing.1.3.js" %}'></script>
	<!-- Bootstrap -->
	<script src='{% static "js/bootstrap.min.js" %}'></script>
	<!-- Waypoints -->
	<script src='{% static "js/jquery.waypoints.min.js" %}'></script>
	<!-- Flexslider -->
	<script src='{% static "js/jquery.flexslider-min.js" %}'></script>
	<!-- Magnific Popup -->
	<script src='{% static "js/jquery.magnific-popup.min.js" %}'></script>
	<script src='{% static "js/magnific-popup-options.js" %}'></script>
	<!-- Main -->
	<script src='{% static "js/main.js" %}'></script>

	</body>
</html>